:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* colors*/
  --main-black-color: #212121;
  --main-color: #757575;
  --nav-hover-color: #2196f3;
  --section-background-color: #2f303a;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*24px or 171% */
  letter-spacing: 0.03em;
  color: var(--main-color);
  tab-size: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--nav-hover-color);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -39px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--nav-hover-color);
}

.sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-black-color);
}

.sub-title--invisible {
  display: none;
}

/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.link--top-logo {
  margin-right: 93px;
}

.link--bottom-logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.logo__text--white {
  color: #ffffff;
}

.logo__text--black {
  color: #000000;
}

.header__list {
  display: flex;
  padding: 0px;
  margin-left: auto;
}

.header__item {
  position: relative;
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--main-color {
  color: var(--main-color);
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: var(--nav-hover-color);
}

.header__link:hover .header__logo,
.header__link:focus .header__logo {
  fill: var(--nav-hover-color);
}

/* hero */
.hero {
  padding: 200px 0px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */